<main class="holder">
<br>
<h2> Que es el Derecho? </h2>
<p> El Derecho es el conjunto de normas que imponen deberes y normas; confieren facultades, establecen las bases de convivencia social y su fin es dotar a todos los miembros de la sociedad de seguridad, certeza, igualdad, libertad y justicia. 

El derecho puede abordarse desde diferentes puntos de vista, puede ser visto como ordenamiento, fenómeno social, como valor o como argumentación. <br>El derecho como ordenamiento es el conjunto de normas que tratan de regular la conducta humana mediante ordenamientos, permisiones y prohibiciones; como fenómeno social, es aquel ordenamiento jurídico que nace para regular la conducta entre los individuos como grupo y resulta aplicable siempre que se encuentre en sociedad. 

<br>Por otro lado, el derecho como valor corresponde al conjunto de disposiciones que son de carácter obligatorio y que se encuentran al servicio de valores sociales, además de tener una finalidad axiológicamente respetable.

<br>En lo que respecta al derecho como argumentación, es aquel conjunto de normas que se materializan a través del lenguaje, pues éste corresponde al instrumento fundamental del legislador debido a que las palabras diseñan normas jurídicas.  

Asimismo, es relevante señalar el derecho tiene como fin principal tres cosas: seguridad, justicia y bien común. </p>
<br>
</main>