<main class="holder">
<br>
<h2> Novedades </h2>
<br>
{{#each novedades}}
<div class="novedades" style="border: solid black 1px; padding: 10px; border-radius: 25px;"> 
<h3> {{titulo}} </h3>
<h5> {{subtitulo}} </h5>
<p> {{cuerpo}} </p>
</div>
<br>

{{/each}}
</main>